@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    min-height: 0;
    box-sizing: border-box;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: .2s;
}